@import '../../../../../styles/colors.scss';
@import '../../../../../styles/mixins.scss';

.overview__summary {
  canvas {
    max-height: 250px !important;
  }

  .date-range-picker__container {
    @include flex(row, flex-end, center);
    border-radius: 8px;
    padding: 0.5rem 1rem;
    width: 350px;
    margin-left: auto;

    .e-control-wrapper {
      border: none !important;
      margin: 0 !important;

      .e-input {
        font-size: 14px !important;
        line-height: 20px !important;
      }
    }

    input.e-input::selection, textarea.e-input::selection, .e-input-group input.e-input::selection, .e-input-group.e-control-wrapper input.e-input::selection, .e-float-input input::selection, .e-float-input.e-control-wrapper input::selection, .e-input-group textarea.e-input::selection, .e-input-group.e-control-wrapper textarea.e-input::selection, .e-float-input textarea::selection, .e-float-input.e-control-wrapper textarea::selection {
      background: $primary !important;
    }

  }
}
.e-date-range-wrapper .e-input-group-icon.e-icons.e-active {
  color: $primary !important;
}

.e-btn.e-flat.e-primary:disabled, .e-css.e-btn.e-flat.e-primary:disabled {
  color: $grey-dark !important;
}
