.panel {
  border-radius: 8px !important;
  padding: 24px !important;
}

#background_branding_container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.intro > p,
.verificationInfoText,
.buttons #cancel {
  display: none !important;
}

input.textInput,
input.verifyInput {
  display: block;
  width: 100%;
  height: 40px !important;
  width: 100% !important;
  border: 1px solid #DCDCDC !important;
  padding: 0 10px !important;
  text-indent: 0 !important;
}

/* #ReadOnlyEmail_ver_input_label {
  display: none !important;
} */

.verificationErrorText.error,
#claimVerificationServerError {
  color: red !important;
  margin-bottom: 8px !important;
  text-align: center !important;
}

#attributeList ul li .attrEntry .verify {
  display: flex !important;
  flex-direction: column !important;
}

#verifying_blurb {
  display: none !important;
}

#ReadOnlyEmail_label {
  display: block !important;
}

#ReadOnlyEmail_ver_input_label,
#ReadOnlyEmail_label {
  /* display: block !important; */
  font-size: 14px !important;
  line-height: 22px !important;
  color: #808080 !important;
  font-weight: 300 !important;
}

input.textInput::placeholder {
  text-indent: 0 !important;
}

input.textInput:focus {
  border: 1px solid #0099CC !important;
  outline: none !important;
  caret-color: #0099CC !important;
}

input#email {
  margin-bottom: 12px;
}

.flex {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  gap: 24px;
  margin: 0 !important;
}

button#back-button {
  border: 1px solid #DCDCDC !important;
  box-sizing: border-box !important;
  border-radius: 8px !important;
  height: 40px !important;
  flex: 1;
  background-color: #ffffff !important;
}

button#back-button a {
  padding: 8px 24px !important;
  height: 100% !important;
  color: #808080;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

.buttons button #next {
  flex: 3;
}

#attributeVerification .buttons {
  margin-top: 0;
}


.entry-item input {
  font-size: 16px !important;
  line-height: 24px !important;
  border: 1px solid #DCDCDC !important;
  box-shadow: 0px 8px 16px rgba(0, 153, 204, 0.04) !important;
  border-radius: 8px !important;
  padding-left: 10px !important;
  height: 40px !important;
}

.entry-item input:focus {
  border: 1px solid #0099CC !important;
  outline: none !important;
  caret-color: #0099CC !important;
}

.create {
  display: none !important;
}

.button {
  margin: 0;
}

.buttons button {
  height: 40px !important;
  width: 100% !important;
  background: #0099CC !important;
  margin-bottom: 0 !important;
  border-radius: 8px !important;
}

.password-label {
  display: flex;
  justify-content: end;
}

.intro {
  text-align: center !important;
}

.intro h2 {
  display: none;
}

.form__heading {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: block !important;
  text-transform: uppercase !important;
  margin: 0 auto;
}

.form__description-wrapper {
  margin: 16px 0 24px;
  text-align: center;
}

div.error.itemLevel.show,
div#emailVerificationControl_error_message,
div#claimVerificationServerError {
  font-size: 14px !important;
  margin-bottom: 12px !important;
  text-align: left;
  margin-bottom: 4px !important;
  color: #cc3300;
  font-weight: 400 !important;
  display: block !important;
  text-align: left !important;
}

div.verificationSuccessText {
  margin-bottom: 24px !important;
}

.form__text,
.verificationInfoText *,
.verificationSuccessText *,
.verificationErrorText * {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 24px;
  color: #808080;
}

.form__link {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #0D6EFD;
  font-weight: 300;
  text-decoration: none;
}