.panel {
  border-radius: 8px !important;
  padding: 24px !important;
}

#background_branding_container img {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

input.textInput {
  height: 40px !important;
  width: 100% !important;
  border: 1px solid #DCDCDC !important;
  padding: 0 10px !important;
  text-indent: 0 !important;
}

input.textInput::placeholder {
  text-indent: 0 !important;
}

input.textInput:focus {
  border: 1px solid #0099CC !important;
  outline: none !important;
  caret-color: #0099CC !important;
}

.button {
  margin: 0;
}

.buttons button {
  width: 100% !important;
  background: #0099CC !important;
  margin-bottom: 0 !important;
}

button#continue {
  height: 40px !important;
}

.intro {
  text-align: center !important;
}

.intro > p {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  margin-bottom: 24px;
  color: #808080;
}

.form__heading {
  font-family: Montserrat;
  font-weight: 400;
  font-size: 24px;
  line-height: 32px;
  display: block !important;
  text-transform: uppercase !important;
  margin: 0 auto;
}

.form__text {
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  font-weight: 300;
  color: #808080;
}

div.error.itemLevel.show,
div#emailVerificationControl_error_message,
div#passwordEntryMismatch {
  font-size: 14px !important;
  margin-bottom: 12px !important;
  text-align: left;
  margin-bottom: 4px !important;
  color: #cc3300;
  font-weight: 400 !important;
  display: block !important;
  text-align: left !important;
}

div#passwordEntryMismatch {
  display: none !important;
}

div#passwordEntryMismatch[aria-hidden='false'] {
  display: block !important;
}