@import './colors.scss';

@mixin font-size($size, $line-height) {
  font-size: $size;
  line-height: $line-height;
}

@mixin flex($direction: row, $justify: flex-start, $align: flex-start) {
  display: flex;
  flex-direction: $direction;
  justify-content: $justify;
  align-items: $align;
}

@mixin center-content() {
  display: grid;
  place-items: center;
}